:root {
  --bg-light: #f5f5f5;
  --text-light: #333;
  --bg-dark: #121212;
  --text-dark: #f5f5f5;
  --primary: #4CAF50;
}

html, body {
  display: grid;
  text-align: center;
  place-items: center;
  height: 100dvh;
  margin: 0px;
  padding: 0px;
}

body.light {
  background-color: var(--bg-light);
  color: var(--text-light);
}

body.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

.container {
  max-width: 400px;
  border-radius: 12px;
  background: rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
}

#loginForm {
  display: flex;
  flex-direction: column;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

input, button {
  padding: 10px 18px; 
  margin-block: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  flex: 1;
  background-color: var(--primary);
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

button:hover {
  background-color: #45a049;
  opacity: 0.9;
}

@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}